EXPO_PUBLIC_LISTINGS_URL=https://listings-hazel.vercel.app
EXPO_PUBLIC_AVAILABILITY_URL=https://availability-xi.vercel.app
EXPO_PUBLIC_BOOKINGS_URL=https://bookings-sable-nine.vercel.app
EXPO_PUBLIC_IDENTITY_URL=https://identity-wheat-ten.vercel.app
EXPO_PUBLIC_PAYMENTS_URL=https://payments-olive.vercel.app